
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/tina-project/jsoncpp.git
[submodule "core/third_party/sqlite3"]
	path = core/third_party/sqlite3
	url = https://github.com/tina-project/sqlite3.git
[submodule "third_party/g3log"]
	path = third_party/g3log
	url = https://github.com/tina-project/g3log.git
